[submodule "eth2-val-tools"]
	path = eth2-val-tools
	url = git@github.com:bsamuels453/eth2-val-tools.git
[submodule "chaos-controller"]
	path = chaos-controller
	url = git@github.com:bsamuels453/chaos-controller.git
